[submodule "lib/commonlibsse"]
	path = lib/commonlibsse
	url = https://github.com/libxse/commonlibsse.git
[submodule "extern/styyx-utils"]
	path = extern/styyx-utils
	url = ssh://git@codeberg.org/Styyx/StyyxUtils.git
	branch = xse
